<!DOCTYPE html>
<html>
<head>
  	<title>Switch events</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/DT_bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./css/TableTools.css">

	<script type="text/javascript" language="javascript" src="./js/jquery.js"></script>
	<script type="text/javascript" language="javascript" src="./js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="./js/TableTools.min.js"></script>
	<script type="text/javascript" language="javascript" src="./js/bootstrap.min.js"></script>
	<script type="text/javascript" language="javascript" src="./js/DT_bootstrap.js"></script>
	<script type="text/javascript" language="javascript" src="./js/data.js"></script>
	<script type="text/javascript" language="javascript" src="./js/table_initialisation.js"></script>
</head>
<body>
	<div class="container">
		<div class="accordion" id="accordion_options">
			<!-- INFO -->
			<div class="accordion-group">
				<div class="accordion-heading">
				  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_options" href="#info">
				    <b>Execution information</b>
				  </a>
				</div>
			    <div id="info" class="accordion-body collapse">
				    <div class="accordion-inner">
				    	<p><b>Input:</b> {$info{'input'}}</p>
				    	<p><b>Data directory:</b> {$info{'data_dir'}}</p>
					<p><b>Differentially used transcripts:</b> {$info{'filt'}}</p>
				    	<p><b>Species:</b> {$info{'species'}}</p>
				    	<p><b>Ensembl version:</b> {$info{'ensembl_v'}}</p>
				    	<p><b>Condition 1:</b> 
				    		columns { $info{'cond1'} },
				    		{ 
				    		my @cols=split('-', $info{'cond1'});
				    		my $ncols=$cols[1]-$cols[0]+1;
				    		$ncols
				    		} samples
				    	</p>
				    	<p><b>Condition 2:</b> 
				    		columns { $info{'cond2'} },
				    		{ 
				    		my @cols=split('-', $info{'cond2'});
				    		my $ncols=$cols[1]-$cols[0]+1;
				    		$ncols
				    		} samples
				    	</p>
					<p><b>Gene expression threshold:</b> {$info{'threshold_gexp'}}</p>
					<p><b>Dominance threshold:</b> {$info{'threshold_dominance'}}</p>
					<p><b>Expression breadth threshold:</b> {$info{'threshold_breadth'}}</p>
				    </div>
			    </div>
		  	</div>

		  	<!-- FILTER -->
			 <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_options" href="#filter">
			        <b>1. Filter</b>
			      </a>
			    </div>
			    <div id="filter" class="accordion-body collapse">
				    <div class="accordion-inner pagination-centered">
						<p><b>Functional classification of switch events<br>
							based on transcript biotype information (C1, C2)</b></p>

						<table class="table" id="toc">
						<tbody>
							<tr>
								<td><b>All</></td>
								<td></td>
								<td><a href="#">{$count{'total'}}</a></td>
							</tr>
							<tr>
								<td><b>Protein coding</b></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>protein coding</td>
								<td>protein coding</td>
								<td><a onClick="updateTable('pc_to_pc')" href="#">
									{$count{'pc_to_pc'}}</a></td>								
							</tr>

							<tr>
								<td><b>Potential function loss</b></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>protein coding</td>
								<td>nonsense mediated decay</td>
								<td><a onClick="updateTable('pc_to_nmd')" href="#">
									{$count{'pc_to_nmd'}}</a></td>
							</tr>
							<tr>
								<td>protein coding</td>
								<td>retained intron</td>
								<td><a onClick="updateTable('pc_to_ri')" href="#">
									{$count{'pc_to_ri'}}</a></td>								
							</tr>
							<tr>
								<td>protein coding</td>
								<td>processed transcript</td>
								<td><a onClick="updateTable('pc_to_pt')" href="#">
									{$count{'pc_to_pt'}}</a></td>								
							</tr>

							<tr>
								<td><b>Potential function gain</b></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>nonsense mediated decay</td>
								<td>protein coding</td>
								<td><a onClick="updateTable('nmd_to_pc')" href="#">
									{$count{'nmd_to_pc'}}</a></td>								
							</tr>
							<tr>
								<td>retained intron</td>
								<td>protein coding</td>
								<td><a onClick="updateTable('ri_to_pc')" href="#">
									{$count{'ri_to_pc'}}</a></td>								
							</tr>
								<tr><td>processed transcript</td>
								<td>protein coding</td>
								<td><a onClick="updateTable('pt_to_pc')" href="#">
									{$count{'pt_to_pc'}}</a></td>								
							</tr>
							<tr>
								<td><b>Other</b></td>
								<td></td>
								<td><a onClick="updateTable('other')" href="#">
									{$count{'other'}}</a></td>									
								</td>
							</tr>
						</tbody>
						</table>
					</div>
			    </div>
			</div>

			<!-- FORMAT -->
		  	<div class="accordion-group">
				<div class="accordion-heading">
				  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_options" href="#format">
				    <b>2. Format</b>
				  </a>
				</div>
			    <div id="format" class="accordion-body collapse">
				    <div class="accordion-inner">
					{
						for my $i ( 0 .. $#colnames ) {
							my @row = split(/:/, $colnames[$i]);
							$row[1] =~ s/_/ /g;
							$OUT .= "<a href=\"javascript:void(0);\" onclick=\"fnShowHide($i);\"><input type=\"checkbox\" checked /></a> <b>$row[0]</b>: $row[1]<br>";
						} 
					}
				    </div>
			    </div>
			</div>
		</div>
	</div>

	<div class="table" id="big_container">
		<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="main">
			<!-- will be filled in by javascript -->
		</table>
	</div>
</body>
</html>
