<!DOCTYPE html>
<html>
<head>
  	<title>Switch events</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/DT_bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./css/TableTools.css">

	<script type="text/javascript" language="javascript" src="./js/jquery.js"></script>
	<script type="text/javascript" language="javascript" src="./js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="./js/TableTools.min.js"></script>
	<script type="text/javascript" language="javascript" src="./js/bootstrap.min.js"></script>
	<script type="text/javascript" language="javascript" src="./js/DT_bootstrap.js"></script>
</head>

<body>
	<div class="container">
		<div class="accordion" id="accordion_options">
			<div class="accordion-group">
				<div class="accordion-group">
					<div class="accordion-heading">
					  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_options" href="#info">
					    <b>Execution information</b>
					  </a>
					</div>
				    <div id="info" class="accordion-body collapse">
					    <div class="accordion-inner">
					    	<p><b>Input:</b> {$info{'input'}}</p>
					    	<p><b>Data directory:</b> {$info{'data_dir'}}</p>
					    	<p><b>Species:</b> {$info{'species'}}</p>
					    	<p><b>Ensembl version:</b> {$info{'ensembl_v'}}</p>
					    	<p><b>Condition 1:</b> 
					    		columns { $info{'cond1'} },
					    		{ 
					    		my @cols=split('-', $info{'cond1'});
					    		my $ncols=$cols[1]-$cols[0]+1;
					    		$ncols
					    		} samples
					    	</p>
					    	<p><b>Condition 2:</b> 
					    		columns { $info{'cond2'} },
					    		{ 
					    		my @cols=split('-', $info{'cond2'});
					    		my $ncols=$cols[1]-$cols[0]+1;
					    		$ncols
					    		} samples
					    	</p>
					 
					    </div>
				    </div>
			  	</div>


			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_options" href="#filter">
			        <b>1. Filter</b>
			      </a>
			    </div>
			    <div id="filter" class="accordion-body collapse">
				    <div class="accordion-inner pagination-centered">

						<p><b>Functional classification of switch events<br>
							based on transcript biotype (C1, C2)</b></p>

						<table class="table" id="toc">
						<tbody>
							<tr>
								<td><b>All</></td>
								<td></td>
								<td><a href="index.html">{$count{'total'}}</a></td>
							</tr>
							<tr>
								<td><b>Protein coding</b></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>protein coding</td>
								<td>protein coding</td>
								<td><a href="pc_to_pc.html">{$count{'pc_to_pc'}}</a></td>
							</tr>

							<tr>
								<td><b>Potential function loss</b></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>protein coding</td>
								<td>nonsense mediated decay</td>
								<td><a href="pc_to_nmd.html">{$count{'pc_to_nmd'}}</a></td>
							</tr>
							<tr>
								<td>protein coding</td>
								<td>retained intron</td>
								<td><a href="pc_to_ri.html">{$count{'pc_to_ri'}}</a></td>
							</tr>
							<tr>
								<td>protein coding</td>
								<td>processed transcript</td>
								<td><a href="pc_to_pt.html">{$count{'pc_to_pt'}}</a></td>
							</tr>

							<tr>
								<td><b>Potential function gain</b></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>nonsense mediated decay</td>
								<td>protein coding</td>
								<td><a href="nmd_to_pc.html">{$count{'nmd_to_pc'}}</a></td>
							</tr>
							<tr>
								<td>retained intron</td>
								<td>protein coding</td>
								<td><a href="ri_to_pc.html">{$count{'ri_to_pc'}}</a></td>
							</tr>
								<tr><td>processed transcript</td>
								<td>protein coding</td>
								<td><a href="pt_to_pc.html">{$count{'pt_to_pc'}}</a></td>
							</tr>
							<tr>
								<td><b>Other</b></td>
								<td></td>
								<td><a href="other.html">{$count{'other'}}</a>
								</td>
							</tr>
						</tbody>
						</table>
					</div>
			    </div>
			</div>

		  	<div class="accordion-group">
				<div class="accordion-heading">
				  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_options" href="#format">
				    <b>2. Format</b>
				  </a>
				</div>
			    <div id="format" class="accordion-body collapse">
				    <div class="accordion-inner">
					{
						for my $i ( 0 .. $#colnames ) {
							my @row = split(/:/, $colnames[$i]);
							$row[1] =~ s/_/ /g;
							$OUT .= "<a href=\"javascript:void(0);\" onclick=\"fnShowHide($i);\"><input type=\"checkbox\" checked /></a> <b>$row[0]</b>: $row[1]<br>";
						} 
					}
				    </div>
			    </div>
		  	</div>
		</div>
	</div>

	<div class="table" id="big_container">
		<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="main">
		<thead>
		  	<tr>
		  		{
					for my $i ( 0 .. $#colnames ) {
						my @row = split(/:/, $colnames[$i]);
						$OUT .= "<th>$row[0]</th>\n";
					}
				} 
			</tr>
		</thead>
		<tbody>
			{
		  		for my $i ( 0 .. $#query ) {
			  		$OUT .= "<tr>\n";
			  		
			  		# get relevant array indices
			  		my $gId_index=$colnames_index{'gId'};
			  		my $appris_index_c1=$colnames_index{'C1.principal'};
			  		my $appris_index_c2=$colnames_index{'C2.principal'};
			  		my $pIdentity_index=$colnames_index{'pIdentity'};
			  		my $pdb_index=$colnames_index{'pdbEntry'};

			  		my $gId=$query[$i][$gId_index];
			  		my $subDir=substr($gId, 0, 12);

			        for my $j ( 0 .. $#{$query[$i]} ) {
			       		my $content=$query[$i][$j];

			       		if ($j==$gId_index) {
			       			my $url="http://www.ensembl.org/Homo_sapiens/Gene/Summary?g=$gId";
			            	$OUT .= "\t<td><a href=$url>$gId</a></td>\n";

		            	} elsif ($j==$appris_index_c1 || $j==$appris_index_c2) {
		            		my $tId=$query[$i][$j-1];
		            		my $url="http://appris.bioinfo.cnio.es/report.html?id=$tId&namespace=Ensembl_Transcript_Id";
		            		$OUT .= "\t<td><a href=$url>$content</a></td>\n";

	            		} elsif ($j==$pIdentity_index and $content ne "NA") {
	            			my $url="$info{'out_dir'}/prot_aln/$subDir/$gId.needle_mod.out";
	            			$OUT .= "<td><a href=$url>$content</a></td>";

		            	} elsif ($j==$pdb_index and $content ne "NO") {
		            		my $uniprotId=$content;
		            		my $url="http://www.ebi.ac.uk/pdbe/widgets/unipdb?uniprot=$uniprotId";
		            		$OUT .= "\t<td><a href=$url>YES</a></td>\n";

		            	} else {
		            		$OUT .= "\t<td>$content</td>\n";
		            	}
			        }

				   	my $plot_dir="./plots";
				    
			  		my $url_boxplot="$plot_dir/boxplots/$subDir/$gId-rotated90.pdf";
					$OUT .= "<td><a href=$url_boxplot>boxplot</a></td>";
				
					my $url_starplot="$plot_dir/starplots/$subDir/$gId.pdf";
					$OUT .= "<td><a href=$url_starplot>starplot</a></td>";
						        
			    	$OUT .= "</tr>\n";
			    }
			}
		</tbody>
		</table>
	</div>
</body>
</html>